body {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 8rem;
        background-color: black;
}

.calculatorBox {
        display: flex;
        flex-direction: column;
        background-color: rgb(64, 87, 106);
        width: 26rem;

}

.screen {
        display: flex;
        align-items: center;
        justify-content: right;


        width: 20rem;
        height: 3rem;
        background-color: rgb(99, 98, 98);
        margin: 2rem;
        padding: 1rem;
        border: 2px solid rgb(60, 60, 60);
        border-radius: 8px;
}

.buttons {
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        margin-left: 3rem;
}

.numberButtons, .signsButtons{
        display: flex;
        flex-direction: row;
        width: 20rem;
        flex-wrap: wrap;

}

.numberButtons {
        width: 15rem;
}

.signsButtons{
        width: 5rem;
}

.numbers, .signs {
        display: flex;
        background-color: black;
        width: 3rem;
        height: 2rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 3px;
        
        color: white;
        align-items: center; /* Centrar verticalmente */
        justify-content: center; /* Centrar horizontalmente */
}

#number0 {
        width: 8rem;

}