body {
        background-color: white;
        display: flex;
        justify-content: center;
        /* Centra horizontalmente el contenido */
}

.container1,
.container2,
.container3 {
        background-color: black;
        /* flex-direction: row; */

        /* height: 10px; */
        width: 800px;
        margin: 10px;
        padding: 5px;
}

.container2 {
        display: flex;
        flex-direction: row;
}

.row1 {
        background-color: rgb(47, 60, 79);
        display: flex;
        flex-direction: row;
        height: 10px;
        /* width: px; */
        padding: 15px;
        margin: 10px;
}

.row2 {
        background-color: darkorange;
        display: flex;
        flex-direction: row;
        height: 10px;
        /* width: px; */
        padding: 15px;
        margin: 10px;
}

/* 
.column1{
        background-color: dimgrey;
        display: flex;
        flex-direction: column;
        height: 10px;
        width: 10px;
        padding: 10px;
        margin: 10px;
}

.column2{
        background-color: rgb(202, 67, 67);
        display: flex;
        flex-direction: column;
        height: 10px;
        width: 10px;
        padding: 10px;
        margin: 10px;
} */

.yellowLine {
        background-color: darkgoldenrod;
        height: 10px;
        margin: 10px;
        /* margin-inline: 10px; */
}

.insideBox1,
.insideBox3 {
        background-color: rgb(202, 67, 67);
        height: 10px;
        width: 170px;
        /* margin-right: 5px; */
        /* margin: 5px; */

        /* padding: 5px; */
}

.insideBox1{
        margin-right: 10px;
}

.insideBox3{
        /* margin-right: 10px; */
        margin-left: 10px;
}

.insideBox2 {
        background-color: rgb(202, 67, 67);
        height: 10px;
        width: 400px;
        /* margin-inline: 10px; */

        /* margin: 5px; */
        /* padding: 5px; */
}

.insideBox4 {
        background-color: gold;
        width: 800px;
}

.column1 {
        background-color: dimgrey;
        display: flex;
        flex-direction: column;
        /* height: 10px; */
        width: 340px;
        padding: 10px;
        margin: 10px;
}

.column2 {
        background-color: rgb(202, 67, 67);
        display: flex;
        flex-direction: column;
        /* height: 10px; */
        width: 100px;
        padding: 10px;
        margin: 10px;
        flex-grow: 1;
        /* Añade esta propiedad para que la columna se extienda horizontalmente */
        /* align-self: stretch; Agrega esta propiedad para que la columna se extienda horizontalmente */
}

.greyColumn {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        /* display: flexbox;
        column-count: 2;
        align-items: first baseline; */

}


.insideColumn1A,
.insideColumn1B,
.insideColumn1C,
.insideColumn1D {

        background-color: cornflowerblue;
        height: 10px;
        width: calc(50% - 10px);
        /* Ajusta el ancho de las franjas para dividir en dos columnas con un espacio de 10px entre ellas */
        margin: 5px;

        /* background-color: cornflowerblue; */
        /* height: 10px; */
        /* padding: 10px; */
        /* margin: 5px; */
}

.lastInsideColumn1 {
        background-color: rgb(93, 202, 238);
        height: 10px;
        margin: 5px;
}

.insideColumn2A,
.insideColumn2B {
        background-color: darkkhaki;
        height: 10px;
        margin: 6px;
        /* margin-inline: 10px; */
        /* height: 10px;
        padding: 10px;
        margin: 10px; */
}

.insideBox1:hover {
        background-color: deeppink;
        animation: zoomLogo 0.6s forwards;
        /* z-index: 1; */
}



@keyframes zoomLogo{
        100% {
                margin-top: -7.5px;
                margin-left: -15px;
                margin-right: 0;
                width: 210px;
                height: 30px;
        }
}



/* @media (max-width: 600px) { */
@media screen and (max-width: 768px) {
        .container1,
        .container2,
        .container3 {
                width: 500px;
}


        .container2 {
                background-color: yellow;
                display: flex;
                flex-direction: column;

        }

        .column1 {
                background-color: dimgrey;
                display: flex;
                flex-direction: column;
                width: 92%;
        }

        .column2 {
                background-color: rgb(202, 67, 67);
                display: flex;
                flex-direction: column;
                width: 92%;
        }

        .row1,
        .row2 {
                height: 15px;
        }

        .yellowLine {
                height: 15px;
        }

        .insideBox1,
        .insideBox2,
        .insideBox3,
        .insideColumn1A,
        .insideColumn1B,
        .insideColumn1C,
        .insideColumn1D,
        .lastInsideColumn1,
        .insideColumn2A,
        .insideColumn2B {
                height: 15px;
        }
}


@media screen and (max-width: 479px) {
        .container1,
        .container2,
        .container3 {
                width: 190px;
        }

        .column1 {
                background-color: rgb(35, 63, 83);
        }
        
        .row1 {
                display: flex;
                flex-direction: column;
                height: auto;
        }
        
        .column1, .column2 {
                width: 150px;                     
        }


        .insideBox1, .insideBox2, .insideBox3 { 
                width: 140px; 
        }
        
        .insideColumn1A, .insideColumn1B, .insideColumn1C, .insideColumn1D {
                background-color: rgb(84, 147, 156);
        }

        .insideColumn1B, .insideColumn1D {
                margin: 10px 5px;
                width: 140px;
        }
        
        .insideBox2 {
                margin: 15px 0px;
        }
        
        .insideColumn1A, .insideColumn1B, .insideColumn1C, .insideColumn1D {
                width: 150px;
        }
        
        .lastInsideColumn1 {
                background-color: aquamarine; 
        }
}
