header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url("images/header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 22rem;
        background-position: center 52.5%;
        padding-top: 1rem;

        /* height: 60rem; */
        /* justify-content: center; Centra verticalmente */
        /* justify-content: flex-end;  Coloca .header-title en la parte inferior verticalmente */
        /* vertical-align:super; */
        /* align-items: center;  */
        /* Centra horizontalmente */

        /* overflow: hidden;
        position: absolute;
        top: -10px;
        left: 0; */
}

.main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 
}

nav {
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* justify-content: center; */
        margin: 0 10px;
        align-items: center;  /* Alineación CENTRADA del texto del menú respecto al LOGO */
}

#logo img {
        width: 5rem;
        height: auto; /* Esto mantiene la proporción de aspecto original de la imagen */
}


.header-title {
        height: 8rem;
        width: 90%;
        background-color: rgba(105, 105, 105, 15%);
        display: flex;
        align-items: center; /* Alineación vertical centrada */
        justify-content: center;
        align-self: center;
}

h1{
        color: rgba(255, 127, 80, 80%);
        text-align: center;
}

ul {
        display: flex;
        list-style-type: none;          /* Quita el punto de los elementos de una lista "ul" */
        /* justify-content: space-around; */
}

li a {
        color: rgb(105, 105, 105);
}