body {
        background-color: white;
        margin: 0;
}


/* ------------------  HEADER  -------------------- */
header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url("images/header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 22rem;
        background-position: center 52.5%;
        padding-top: 1rem;
}

.menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
}

nav {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        /* justify-content: center; */
        margin: 0 10px;
        align-items: center;
        /* Alineación CENTRADA del texto del menú respecto al LOGO */
}

#logo img {
        width: 5rem;
        height: auto;
        /* Esto mantiene la proporción de aspecto original de la imagen */
        margin-right: 35px
}

.header-title {
        height: 8rem;
        width: 90%;
        background-color: rgba(105, 105, 105, 15%);
        display: flex;
        align-items: center;    /* Alineación vertical centrada */
        justify-content: center;
        align-self: center;
}

h1 {
        color: rgba(255, 127, 80, 60%);
        text-align: center;
}

ul {
        display: flex;
        list-style-type: none;        /* Quita el punto de los elementos de una lista "ul" */
        padding-left: 0px;

        /* justify-content: space-around; */
}

li {
        margin-right: 35px
        /* Agrega espacio entre cada enlace de la lista */
}

li a {
        color: rgb(120, 120, 120);
        margin: 1rem;
        text-decoration: none;  /* Quitar el subrayado de los links del menú */
        text-align: center;
        /* transition: color 1.5s; */
        /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
        transition: border-color 0.75s;    
}

nav a i {
        margin-right: 8px;
        /* Agrega espacio a la derecha del icono */
}

#redes li{
        margin-left: 0px;
        margin-right: 0px;
}


/* EFECTE ROLLOVER */ 
li a:hover {
        /* text-decoration: underline; */
        /* Se cambia el estilo cuando el cursor pasa por encima  */
        color: #000; 
        /* Cambia el color de texto al pasar el cursor por encima */

        /* bottom: var(--BottomOffset); */
        opacity: 1;
} 



/* ------------------  CONTINGUT  -------------------- */

section {
        display: flex;
        flex-direction: row;
        /* background-color: rgb(171, 74, 74); */
        /* height: 50px; */
        /* padding: 0.6rem; */
        margin-top: 0.6rem;
}

main {
        display: flex;
        flex-wrap: wrap; /* Permite que las cajas se envuelvan a la siguiente línea */
        justify-content: space-between; /* Espacio uniformemente distribuido entre las cajas */
        flex-direction: row;
        background-color: rgb(190, 190, 190);
        width: 75%;
        /* height: 40px; */
        /* margin: 1rem; */

        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        background-color: rgb(190, 190, 190);
        width: 75%;
        margin: 0 auto; Centra el contenido horizontalmente */
}


aside {
        background-color: rgb(190, 190, 190);
        width: 25%;
        /* padding-left: 0.6rem; */
        margin-left: 1rem;
        /* margin: 1rem; */
}

footer {
        display: flex;
        background-color: rgb(230, 230, 230);
        /* width: 25%; */
        height: 2rem;
        /* padding-left: 0.6rem; */
        margin-top: 0.8rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        /* border-left: 1rem; */

        border-left: 0.5rem solid rgb(200, 200, 200);
        border-right: 0.5rem solid rgb(200, 200, 200);
}

article {
        background-color: rgb(230, 230, 230);
        /* height: 40px; */
        width: calc(50% - 1.2rem);      /* Resta el margen para que quepan dos elementos por fila */
        /* El valor 50% indica ocupará la mitad de su contenedor principal */
        /* Aquí se indica que el ancho de los elementos de este contnedor sea del 50% del total */
        margin: 0.6rem;
        padding: 0.6rem;
        box-sizing: border-box;         /* Asegura que los márgenes no afecten el ancho real, están incluidos el MARGIN yel PADDING */

        /* position: relative;
        display: inline-block;
        text-align: center; */
}

article img {
        /* width: calc(100% - 1.2rem); Ajusta la imagen al ancho del artículo */
        /* height: auto; Mantiene la proporción de aspecto original de la imagen */
        /* display: block; Evita el espacio en blanco debajo de la imagen */
        /* margin-bottom: 10px; Agrega un margen inferior opcional entre la imagen y el contenido del artículo */
        /* margin: 0.6rem 0.6rem 0rem 0.6rem; */
        /* margin-bottom: 0.3rem; */

        width:100%;
        height: 200px;
        object-fit: cover;
}


.contenedor-foto {
        position: relative;
        /* display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
 }  

.titleBox {
        display: flex;
        /* width: calc(100% - 1.8rem); Ajusta la imagen al ancho del artículo */
        /* margin: 0.5rem; */
        /* margin: 0.3rem 0.6rem; */
        background-color:rgb(233, 122, 122);
        height: 1.8rem;
        color: white;
        /* justify-content: center; */
        align-items: flex-end;
        margin-top: 0.4rem;
        padding: 0.3rem;
}

.txtBlock {
        /* color: white; */
        column-count: 2;
        /* margin: 0.8rem; */
        /* text-align: center; */
        /* vertical-align: center; */
}

.fecha {
        margin: 0;
        margin-top: -1.6rem;
        margin-left: 0.3rem;
        color: rgb(240, 232, 118);;
}